// Place all the styles related to the bookCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.book_cards {
  width: 100%;
}
td.id-row {
  width: 35px;
}
td.title-row {
  width: 50%;
}
td.button-row {
  width: 40px;
}