<!DOCTYPE html>
<html>
<head>
  <title>Cards</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'book_cards', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'book_cards.js', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<div>
  <%= yield %>
</div>
</body>
</html>